@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Microsoft JhengHei", sans-serif;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #efeae7;
}
.wrap .go-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 2.25rem;
}
.wrap .go-top a {
  color: #3D1101;
}

.navbar {
  position: fixed;
  width: 100%;
  max-width: 1024px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  z-index: 2;
}
@media (max-width: 767px) {
  .navbar {
    position: fixed;
    padding: 16px 14px;
    background-color: #000000;
  }
}
.navbar .title {
  background-image: url(../images/index/logo_w@svg.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 24px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px 16px;
}
@media (max-width: 767px) {
  .navbar .title {
    margin: 0px;
  }
}
.navbar .m-menu {
  display: none;
}
@media (max-width: 767px) {
  .navbar .m-menu {
    display: block;
    font-size: 1.5rem;
  }
}
.navbar .menu {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .navbar .menu {
    position: absolute;
    overflow: hidden;
    top: 56px;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    font-size: 1.5rem;
    max-height: 0px;
    transition: max-height 1s;
    background-color: #efeae7;
  }
}
@media (max-width: 767px) {
  .navbar .menu li {
    width: 100%;
    background-color: #000000;
  }
}
.navbar .menu li a {
  display: block;
  padding: 16px 20px;
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar .menu li a {
    font-size: 1.5rem;
  }
}
.navbar .menu li a:hover {
  background-color: #efeae7;
  color: #3D1101;
}
.navbar .menu li a:active {
  background-color: #f56c23;
  color: #ffffff;
}

@media (max-width: 767px) {
  .show-mobile-menu .menu {
    max-height: 400px;
  }
}

.banner {
  background-image: url(../images/index/header_desktop.jpg);
  height: 420px;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 767px) {
  .banner {
    background-image: url(../images/index/header_mobile.jpg);
    background-repeat: no-repeat;
    background-color: #000000;
  }
}
.banner .slogan {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 20px 32px 26px 32px;
  line-height: 1.5rem;
}
@media (max-width: 767px) {
  .banner .slogan {
    padding: 20px 6px;
  }
}
.banner h2 {
  font-size: 2.25rem;
  padding-bottom: 16px;
}
@media (max-width: 767px) {
  .banner h2 span {
    display: block;
    padding-bottom: 20px;
  }
}
.banner h3 span {
  display: block;
}
.banner .fork-icon {
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #3D1101;
  padding: 50px 42px;
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.footer .about-contact {
  display: flex;
}
@media (max-width: 767px) {
  .footer .about-contact {
    flex-direction: column;
  }
}
.footer .about-contact .about, .footer .about-contact .contact {
  max-width: 250px;
  line-height: 1.5rem;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .footer .about-contact .about, .footer .about-contact .contact {
    padding: 0px 30px 30px 0px;
  }
}
@media (max-width: 767px) {
  .footer .about-contact .about, .footer .about-contact .contact {
    padding: 0px 0px 30px 0px;
  }
}
.footer .about-contact .about .title, .footer .about-contact .contact .title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.footer .contact .info {
  list-style-type: disc;
  margin-left: 21px;
  overflow-wrap: break-word;
}
.footer .contact .info li a {
  text-decoration: none;
  color: #3D1101;
}
.footer .brand-social .title {
  font-weight: bold;
}
@media (max-width: 767px) {
  .footer .brand-social .title img {
    max-width: 50%;
  }
}
.footer .social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 22px;
}
@media (max-width: 767px) {
  .footer .social-media {
    justify-content: flex-start;
  }
}
.footer .social-media .google-plus, .footer .social-media .twitter, .footer .social-media .facebook {
  border-radius: 4px;
  margin: 0px 6px;
}
.footer .social-media .google-plus {
  color: #d64433;
  font-size: 2.25rem;
}
.footer .social-media .twitter {
  background-color: #41ABE1;
  padding: 6px;
  color: #ffffff;
  font-size: 1.25rem;
}
.footer .social-media .facebook {
  color: #3a5795;
  font-size: 2.25rem;
}

.why-delicious {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px 31px 0px;
}
.why-delicious .text {
  position: relative;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.25rem;
  color: #3D1101;
}
.why-delicious .middle-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translateY(-50%);
  width: 12%;
  border-bottom: 1px solid #979797;
}
@media (max-width: 428px) {
  .why-delicious .middle-line::before {
    display: none;
  }
}
.why-delicious .middle-line::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 27%;
  transform: translateY(-50%);
  width: 12%;
  border-bottom: 1px solid #979797;
}
@media (max-width: 428px) {
  .why-delicious .middle-line::after {
    display: none;
  }
}

.three-features {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 428px) {
  .three-features {
    flex-direction: column;
  }
}
.three-features li {
  width: 27%;
  padding: 0% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .three-features li {
    width: 31%;
    padding: 0% 2%;
  }
}
@media (max-width: 428px) {
  .three-features li {
    width: 100%;
    padding: 10% 2% 15% 2%;
  }
}
.three-features li img {
  border-radius: 50%;
  text-align: center;
}
.three-features li h4 {
  text-align: center;
  padding: 20px 0px 11px 0px;
}
.three-features li p {
  max-width: 260px;
}

.chef {
  display: flex;
  justify-content: center;
  background-color: #3D1101;
  margin: 50px 0px;
}
@media (max-width: 428px) {
  .chef {
    flex-direction: column;
  }
}
.chef .chef-photo {
  width: 50%;
  padding-left: 10px;
}
@media (max-width: 428px) {
  .chef .chef-photo {
    width: 100%;
    padding-left: 0px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.chef .chef-intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #EFE9E7;
  padding: 81px 77px 81px 25px;
}
@media (max-width: 768px) {
  .chef .chef-intro {
    padding-right: 30px;
  }
}
@media (max-width: 428px) {
  .chef .chef-intro {
    width: 100%;
    padding: 30px;
  }
}
.chef .chef-intro .chef-name {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.chef .chef-english-name {
  padding-bottom: 16px;
}
.chef p {
  line-height: 1.5rem;
}

.responses {
  display: flex;
  flex-direction: column;
}
.responses .title {
  font-size: 1.5rem;
  color: #3D1101;
  text-align: center;
}

.customers {
  display: flex;
  justify-content: space-between;
  padding: 32px 42px 50px 42px;
}
@media (max-width: 768px) {
  .customers {
    padding: 32px 10px;
  }
}
@media (max-width: 428px) {
  .customers {
    flex-direction: column;
  }
}
.customers li {
  display: flex;
  align-items: flex-start;
}
.customers .avatar {
  width: 30%;
  padding-right: 16px;
  text-align: center;
}
.customers .avatar img {
  border-radius: 50%;
}
.customers .person {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.customers .name {
  font-size: 1.125rem;
  color: #3D1101;
  padding: 22px 0px;
}
.customers p {
  color: #3D1101;
  padding-bottom: 16px;
  line-height: 1.5;
}
.customers span {
  color: rgba(61, 17, 1, 0.75);
  text-align: right;
}

.reservation, .map-form {
  background-color: rgba(250, 250, 250, 0.7);
}

.reservation {
  padding-top: 50px;
}
.reservation span {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #3D1101;
}

.map-form {
  display: flex;
  padding: 38px 42px 50px 42px;
}
@media (max-width: 767px) {
  .map-form {
    padding: 0px;
    flex-direction: column;
  }
}
.map-form .map-photo {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .map-form .map-photo {
    width: 100%;
    padding: 30px 11px;
  }
}
.map-form .form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  padding-left: 20px;
}
@media (max-width: 767px) {
  .map-form .form {
    width: 100%;
    padding: 10px;
  }
}
.map-form .form label {
  font-size: 0.875rem;
  padding: 12px 0px 6px 0px;
  color: #3D1101;
}
@media (max-width: 428px) {
  .map-form .form label {
    font-size: 1.25rem;
  }
}
.map-form .form input {
  color: #4A4A4A;
  padding: 5px 0px;
}
@media (max-width: 428px) {
  .map-form .form input {
    font-size: 1.25rem;
  }
}
@media (max-width: 428px) {
  .map-form .form .vegetarian {
    font-size: 1.25rem;
  }
}
.map-form .form .input-field {
  margin: 12px 0px 12px 0px;
}
.map-form .form .btns {
  padding: 30px 0px;
  text-align: right;
}
@media (max-width: 428px) {
  .map-form .form .btns {
    padding: 30px 0px 50px 0px;
  }
}
.map-form .form .btns input {
  font-size: 1.25rem;
  border-radius: 3px;
  border: 0px;
  color: #ffffff;
  padding: 10px;
}
.map-form .form .button-cancel {
  background-color: rgba(0, 0, 0, 0.35);
  margin-right: 11px;
}
.map-form .form .button-submit {
  background-color: #f56c23;
}
.map-form .form .button-cancel:hover, .map-form .form .button-submit:hover {
  background-color: #3D1101;
  cursor: pointer;
}
.map-form .form .button-cancel:active, .map-form .form .button-submit:active {
  background-color: #ffffff;
  color: #3D1101;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 428px) {
  .cart {
    flex-direction: column;
  }
}
.cart .categories {
  width: 25%;
  padding: 48px 20px 0px 42px;
}
@media (max-width: 428px) {
  .cart .categories {
    width: 100%;
    padding: 52px 0px 16px 18px;
  }
}
.cart .categories .text {
  font-size: 1.25rem;
  padding-bottom: 16px;
}
.cart .categories .text .leaf {
  font-size: 1.5rem;
  padding-right: 5px;
}
.cart .categories .meal-menu {
  display: flex;
  flex-direction: column;
}
.cart .categories .meal-menu li {
  border-bottom: 1px solid #3D1101;
}
.cart .categories .meal-menu li a {
  color: #3D1101;
  display: block;
  padding: 10px 16px;
  text-decoration: none;
}
@media (max-width: 428px) {
  .cart .categories .meal-menu li a {
    font-size: 1.5rem;
  }
}
.cart .categories .meal-menu li a:hover {
  background-color: #3D1101;
  color: #ffffff;
}
.cart .meals {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 48px 42px 0px 0px;
}
@media (max-width: 428px) {
  .cart .meals {
    width: 100%;
    padding: 33px 10px 30px 10px;
  }
}
.cart .meals .search-cart {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .cart .meals .search-cart {
    flex-direction: column;
  }
}
.cart .meals .search-cart .search-bar {
  width: 75%;
  border: 3px solid #3D1101;
  font-size: 1.5rem;
  background-color: #efeae7;
}
.cart .meals .search-cart .magnifying {
  padding: 2px;
  margin: -10px;
  background-color: #3D1101;
  color: #ffffff;
  font-size: 1.5rem;
}
.cart .meals .search-cart .magnifying:hover,
.cart .meals .search-cart .magnifying:active {
  color: #f56c23;
}
.cart .meals .search-cart .cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .cart .meals .search-cart .cart {
    padding: 15px 0px 0px 0px;
    font-size: 1.5rem;
  }
}
.cart .meals .search-cart .cart .checkout {
  padding: 0px 12px;
  border-right: 1px solid #3D1101;
  text-decoration: none;
  font-weight: bold;
}
.cart .meals .search-cart .cart .checkout:hover,
.cart .meals .search-cart .cart .checkout:active {
  background-color: #f56c23;
  color: #ffffff;
}
.cart .meals .search-cart .cart .shopping-cart {
  font-size: 1.5rem;
  color: #3D1101;
  padding: 0px 8px;
  position: relative;
}
.cart .meals .search-cart .cart .shopping-cart:hover,
.cart .meals .search-cart .cart .shopping-cart:active {
  background-color: #f56c23;
  color: #ffffff;
}
.cart .meals .search-cart .cart .shopping-cart::after {
  /* 這裡是要顯示的小數字 */
  content: "5";
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #f56c23;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 3px 5px;
  font-size: 0.875rem;
}
.cart .meals .meal-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart .meals .meal-cards li {
  width: 30%;
  margin: 26px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}
@media (max-width: 768px) {
  .cart .meals .meal-cards li {
    width: 44%;
  }
}
@media (max-width: 767px) {
  .cart .meals .meal-cards li {
    width: 100%;
  }
}
.cart .meals .meal-cards li .ribbon-wrapper {
  width: 108px;
  height: 108px;
  overflow: hidden;
  position: absolute;
  /*  改變緞帶所在的位置  */
  top: -6px;
  right: -6px;
  /* 緞帶左上方的小三角形 */
  /* 緞帶右下方的小三角形 */
}
.cart .meals .meal-cards li .ribbon-wrapper .tag {
  font-weight: bold;
  line-height: 1rem;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  /*  將整個文字往右下方旋轉45度  */
  transform: rotate(45deg);
  position: relative;
  /*  緞帶上下的寬窄度  */
  padding: 7px 0;
  left: -4px;
  top: 26px;
  /*  緞帶左右的寬度  */
  width: 150px;
  background-color: #3eccab;
  color: #fff;
  /*  透過兩層陰影, 讓緞帶下方看起來變得更有立體感  */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 5px 6px -5px rgba(0, 0, 0, 0.5);
}
.cart .meals .meal-cards li .ribbon-wrapper .tag:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 4px solid #4e7c7d;
  /*  透過將顏色設為透明色, 藉此打造出正三角形  */
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid #4e7c7d;
}
.cart .meals .meal-cards li .ribbon-wrapper .tag:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 100%;
  z-index: -1;
  border-left: 4px solid transparent;
  border-right: 4px solid #4e7c7d;
  border-bottom: 4px solid transparent;
  border-top: 4px solid #4e7c7d;
}
.cart .meals .meal-cards li .meal-img {
  width: 100%;
}
.cart .meals .meal-cards li .heartBtn {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1.5rem;
  color: #ffffff;
  background: none;
  border: none;
}
.cart .meals .meal-cards li .heartBtn:hover,
.cart .meals .meal-cards li .heartBtn:active {
  cursor: pointer;
}
.cart .meals .meal-cards li .title {
  padding: 11px 50px 0px 50px;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.cart .meals .meal-cards li .eng-title {
  font-size: 0.875rem;
}
.cart .meals .meal-cards li .border-line {
  width: 93px;
  border-top: 1px solid #000;
  margin: 8px 0px 20px 0px;
}
.cart .meals .meal-cards li .price {
  font-weight: bold;
  font-style: italic;
  font-size: 1.125rem;
}
.cart .meals .meal-cards li .price .dollar-sign {
  color: #3D1101;
  font-weight: lighter;
}
.cart .meals .meal-cards li .add-cart {
  color: #FF5E45;
  border: 2px solid #FF5E45;
  background-color: #efeae7;
  padding: 2px;
  margin: 10px;
  width: 90%;
  border-radius: 3px;
}
@media (max-width: 428px) {
  .cart .meals .meal-cards li .add-cart {
    font-size: 1.5rem;
  }
}
.cart .meals .meal-cards li .add-cart:hover,
.cart .meals .meal-cards li .add-cart:active {
  cursor: pointer;
  color: #ffffff;
  border: 2px solid #3D1101;
  background-color: #3D1101;
}
.cart .meals .meal-cards li .add-cart:active {
  border: 2px solid #f56c23;
  background-color: #f56c23;
}

.login {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #3D1101;
  padding: 20px;
}
.login .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login .title .logo {
  padding: 50px 0px 5px 0px;
}
.login .title .slogan {
  padding-bottom: 35px;
  font-size: 1.25rem;
  font-weight: bold;
}
.login .login-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EFE9E7;
  border: #EFE9E7;
  border-top: 4px solid #f56c23;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}
.login .login-field .title {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 11px 0px 16px 0px;
}
.login .login-field .table {
  padding: 0px 15px 15px 0px;
}
@media (max-width: 767px) {
  .login .login-field .table {
    width: 100%;
    padding: 15px;
  }
}
.login .login-field .table .email span,
.login .login-field .table .password span {
  display: block;
  padding-bottom: 3px;
}
.login .login-field .table .email input,
.login .login-field .table .password input {
  width: 100%;
  font-size: 1.25rem;
  border-radius: 3px;
  border: 1px solid #979797;
}
.login .login-field .table .email .input-email {
  position: relative;
}
.login .login-field .table .email .input-email .mail-icon {
  position: absolute;
  top: 17%;
  left: 2%;
  color: rgba(61, 17, 0, 0.5);
}
.login .login-field .table .email .input-email input {
  margin-bottom: 15px;
  padding-left: 10%;
}
.login .login-field .table .password .input-password {
  position: relative;
}
.login .login-field .table .password .input-password .lock-icon1 {
  position: absolute;
  color: rgba(61, 17, 0, 0.5);
}
.login .login-field .table .password .input-password .lock-icon1 {
  top: 17%;
  left: 2%;
}
.login .login-field .table .password input {
  margin-bottom: 15px;
  padding-left: 10%;
}
.login .login-field .table .password .had-account {
  margin-bottom: 30px;
}
.login .login-field .table .password .had-account a {
  text-decoration: none;
  color: #f56c23;
  font-size: 0.875rem;
}
.login .login-field .table .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .login-field .table .buttons .button-register,
.login .login-field .table .buttons .button-login {
  font-size: 1rem;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  padding: 6px 28px;
  width: 48%;
}
.login .login-field .table .buttons .button-register {
  display: block;
  text-align: center;
  background-color: #979797;
  text-decoration: none;
  padding: 8px 28px;
}
.login .login-field .table .buttons .button-login {
  background-color: #f56c23;
}
.login .login-field .table .buttons .button-register:hover, .login .login-field .table .buttons .button-login:hover {
  background-color: #3D1101;
  cursor: pointer;
}
.login .login-field .table .buttons .button-register:active, .login .login-field .table .buttons .button-login:active {
  background-color: #ffffff;
  color: #3D1101;
}

.register {
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #3D1101;
  padding: 20px;
}
.register .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register .title .logo {
  padding: 50px 0px 5px 0px;
}
.register .title .slogan {
  padding-bottom: 35px;
  font-size: 1.25rem;
  font-weight: bold;
}
.register .register-field {
  display: flex;
  flex-direction: column;
  background: #EFE9E7;
  border: #EFE9E7;
  border-top: 4px solid #f56c23;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}
.register .register-field .title {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 11px 0px 16px 0px;
}
.register .register-field .content {
  display: flex;
}
@media (max-width: 767px) {
  .register .register-field .content {
    flex-direction: column;
  }
}
.register .register-field .content .terms {
  width: 50%;
  padding: 0px 20px 0px 15px;
}
@media (max-width: 767px) {
  .register .register-field .content .terms {
    width: 100%;
    padding: 15px;
  }
}
.register .register-field .content .terms span,
.register .register-field .content .terms p {
  line-height: 1.25rem;
}
.register .register-field .content .terms span {
  font-size: 1.125rem;
  display: block;
}
.register .register-field .content .table {
  width: 50%;
  padding: 0px 15px 15px 0px;
}
@media (max-width: 767px) {
  .register .register-field .content .table {
    width: 100%;
    padding: 15px;
  }
}
.register .register-field .content .table .email span,
.register .register-field .content .table .password span {
  display: block;
  padding-bottom: 3px;
}
.register .register-field .content .table .email input,
.register .register-field .content .table .password input {
  width: 100%;
  font-size: 1.25rem;
  border-radius: 3px;
  border: 1px solid #979797;
}
.register .register-field .content .table .email .input-email {
  position: relative;
}
.register .register-field .content .table .email .input-email .mail-icon {
  position: absolute;
  top: 17%;
  left: 2%;
  color: rgba(61, 17, 0, 0.5);
}
.register .register-field .content .table .email .input-email input {
  margin-bottom: 15px;
  padding-left: 10%;
}
.register .register-field .content .table .password .input-password {
  position: relative;
}
.register .register-field .content .table .password .input-password .lock-icon1,
.register .register-field .content .table .password .input-password .lock-icon2 {
  position: absolute;
  color: rgba(61, 17, 0, 0.5);
}
.register .register-field .content .table .password .input-password .lock-icon1 {
  top: 8%;
  left: 2%;
}
.register .register-field .content .table .password .input-password .lock-icon2 {
  top: 56%;
  left: 2%;
}
.register .register-field .content .table .password .input-password .password1 {
  margin-bottom: 12px;
}
.register .register-field .content .table .password input {
  margin-bottom: 15px;
  padding-left: 10%;
}
.register .register-field .content .table .password .had-account {
  margin-bottom: 30px;
}
.register .register-field .content .table .password .had-account a {
  text-decoration: none;
  color: #f56c23;
  font-size: 0.875rem;
}
.register .register-field .content .table .register-btn {
  text-align: right;
}
.register .register-field .content .table .register-btn .button-register {
  background-color: #f56c23;
  font-size: 0.875rem;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  padding: 6px 28px;
  width: 45%;
}
.register .register-field .content .table .register-btn .button-register:hover {
  background-color: #3D1101;
  cursor: pointer;
}
.register .register-field .content .table .register-btn .button-register:active {
  background-color: #ffffff;
  color: #3D1101;
}