.aboutUs-banner {
  background-image: url('/src/assets/images/aboutUs/banner_desktop.webp');
  // 務必要設定高度才能讓圖片能夠顯示出來; 且因為只設定高度而不設定寬度, 故不會讓網頁出現x軸
  height: 260px;
  // 讓圖片水平及垂直置中
  background-position: center center;
  background-size: cover;

  @include tablet {
    background-image: url('/src/assets/images/aboutUs/banner_mobile.webp');
    background-repeat: no-repeat;
    background-color: $black;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;

  .title {
    font-size: $h1-font-size;
  }

  .rectangle-outside {
    background-color: $brown;
    padding: 10px;
    border-radius: 5px;

    .rectangle {
      background-color: $brown;
      font-size: $h3-font-size;
      color: $white;
      padding: 40px 30px;
      border: 1px solid $white;

      @include tablet {
        padding: 30px 20px;
      }

      p {
        line-height: 2rem;

        @include iPad {
          font-size: $h3-font-size;
          line-height: 2rem;
        }
      }
    }
  }

}

.three-points {
  display: flex;
  flex-direction: column;
  // 為了使網頁不因從左/右側滑入的動畫而造成網頁底部出現X軸, 請在內含有動畫的'外容器'加上這一項
  overflow-x: hidden;

  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;

    @include tablet {
      flex-direction: column;
      padding: 40px 0px;
    }

    img {
      width: 55%;
      padding: 0px 20px;

      @include tablet {
        width: 90%;
        padding: 0px;
      }
    }


    .description {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $brown;

      @include tablet {
        width: 90%;
        padding-top: 30px;
      }

      .title {
        font-size: $h2-font-size;
        text-align: center;
        padding-bottom: 30px;
        font-weight: bold;

        @include tablet {
          padding-bottom: 15px;
        }
      }

      p {
        font-size: $h3-font-size;
        line-height: 1.7rem;
      }
    }
  }

  .feature-reverse {

    @include tablet {
      flex-direction: column-reverse;
    }
  }

  // 淡入動畫效果, 需搭配JS語法一起使用
  .animatedFromLeftToRight {
    // 將透明度設為0, 而非使用display: none; 因為display: none;會讓該元素所佔用的空間消失, 而透明度設為0則會保留元素所佔用的空間
    opacity: 0;
    // 將位移的位置從-100px開始逐漸恢復至0, 就有從左方往右滑出來的效果
    transform: translateX(-100px);
    transition: all 2.5s;
  }

  .fadeInFromLeftToRight {
    // 將透明度設為1 (代表不透明)
    opacity: 1;
    transform: translateX(0);
  }

  // 淡入動畫效果, 需搭配JS語法一起使用
  .animatedFromRightToLeft {
    // 將透明度設為0, 而非使用display: none; 因為display: none;會讓該元素所佔用的空間消失, 而透明度設為0則會保留元素所佔用的空間
    opacity: 0;
    // 將位移的位置從100px開始逐漸恢復至0, 就有從右方往左滑出來的效果
    transform: translateX(100px);
    transition: all 2.5s;
  }

  .fadeInFromRightToLeft {
    // 將透明度設為1 (代表不透明)
    opacity: 1;
    transform: translateX(0);
  }
}

.traffic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $linen;
  padding: 30px 40px;

  @include tablet {
    margin-top: 60px;
    padding: 30px 0px;
  }

  .title {
    font-size: $h2-font-size;
    text-align: center;
    font-weight: bold;
    color: $brown;
    padding-bottom: 30px;
  }

  .map-direction {
    display: flex;
    justify-content: center;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    .map {
      width: 45%;

      @include tablet {
        width: 90%;
      }
    }

    .info {
      width: 55%;
      font-size: $h3-font-size;

      @include tablet {
        width: 100%;
      }

      li {
        line-height: 2rem;
        color: $brown;
        padding: 15px 20px 15px 30px;

        @include tablet {
          padding: 15px;
        }

        a {
          color: $brown;
          cursor: pointer;
        }
      }
    }
  }


}