.completedMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $brown;
  font-weight: bold;
  background-color: $linen;
  padding: 60px 0px;

  .title {
    font-size: $h2-font-size;
    padding: 30px 0px;
  }

  .notice {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-size: $h4-font-size;
      padding: 10px 0px;
      line-height: 1.5rem;

      @include tablet {
        padding: 10px 30px;
      }

      a {
        color: $brown;
      }
    }
  }

  .goHome {
    display: block;
    color: $white;
    text-align: center;
    font-size: $h2-font-size;
    background-color: $brown;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px 0px;
    width: 30%;
    text-decoration: none;

    @include tablet {
      width: 80%;
    }
  }
}